[submodule "packages/dashboard"]
	path = packages/dashboard
	url = git@github.com:cybearl/dashboard.git
	branch = main
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:cybearl/core.git
	branch = main
[submodule ".\\packages\\website"]
	path = .\\packages\\website
	url = git@github.com:cybearl/website.git
	branch = main
[submodule ".\\packages\\assets"]
	path = .\\packages\\assets
	url = git@github.com:cybearl/assets.git
	branch = main
